<!DOCTYPE html>
<html lang="en">

<head>
  <base href="http:localhost:3000">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>edit-student</title>
</head>

<body>
  <div class="container">
    <h1 class="title">Edit</h1>
    <a href="/student" class="btn btn-success float-right m-2">Home</a>
    <form action="/student/edit" method="POST">
      <div class="form-group">
        <label>Name</label>
        <input type="hidden" name="student_id" value="<%- student.id %>">
        <input type="text" name="name" value="<%- student.name %>" class="form-control" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" value="<%- student.email %>" class="form-control" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="Class">Class</label>
        <select class="form-control" name="classes" id="exampleFormControlSelect1">
          <% classes.forEach(function(item){ %>
          <% if (item.id == student.class){%>
          <option selected="selected" value="<%- item.id %>"><%- item.name %></option>
          <% } else  {%>
          <option value="<%- item.id %>"><%- item.name %></option>
          <% }%>
          <% }); %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

</html>